.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.section-1 h1,
.section-2 h1 {
  color: var(--clr-slate400);
  font-size: var(--size-xl);
  margin-bottom: 2rem;
}

.section-2 p {
  color: var(--clr-slate600);
  font-size: var(--size-base);
  margin-bottom: 1rem;
}

.contact__links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.form__wrapper {
  margin-bottom: 2rem;
}

.form__wrapper input:not(input[type="submit"]),
.form__wrapper textarea {
  background-color: var(--clr-alt);
  margin-bottom: 1rem;
  font-size: var(--size-sm);
  border-radius: 5px;
  padding: .8rem;
  color: var(--clr-slate400);
}

.form__wrapper input:active,
.form__wrapper textarea:active,
.form__wrapper input:focus,
.form__wrapper textarea:focus {
  border: 1px solid var(--clr-indigo);
  outline: 1px solid var(--clr-indigo);
}

.form__wrapper input[type='submit'] {
  font-size: var(--size-base);
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
  .contact {
    gap: 5rem;
  }

  .section-1 h1,
  .section-2 h1 {
    font-size: var(--size-2xl);
  }
}

/* lg */
@media (min-width: 1024px) {
  .contact {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 3rem;
  }

  .section-1 {
    order: 2;
    flex: 1;
  }

  .section-2 {
    order: 1;
    flex: 1;
  }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */