.header {
  padding: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#theme-toggle__btn {
  font-size: var(--size-lg);
  border-radius: 50%;
  display: block;
  padding: 1rem;
  text-align: center;
  user-select: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#theme-toggle__btn:hover {
  transform: scale(1.1);
}

/* Adjustments for different screen sizes */
@media (min-width: 1024px) {
  #theme-toggle__btn {
    padding: 1rem;
  }
}