/* General Hero Section Styles */
.hero {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  padding: 2rem;
}

.hero__img {
  position: relative;
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  border: 2px solid var(--clr-indigo);
  z-index: 999;
}

.hero__subtitle {
  color: var(--clr-slate400);
  font-size: var(--size-3xl);
  line-height: 0.9;
  padding: var(--size-sm);
  border-radius: var(--size-sm);
}

.hero__title {
  color: var(--clr-slate400);
  text-transform: uppercase;
  font-size: var(--size-xl);
  letter-spacing: -0.05em;
  line-height: 0.9;
}

.hero__description {
  max-width: 60ch;
  font-size: var(--size-sm);
  color: var(--clr-slate600);
}

.hero__links {
  display: flex;
  gap: 1rem;
}

.hero-wrapper {
  position: relative;
}

/* Box Button Styles */
.box {
  position: absolute;
  bottom: 2%;
  right: -90%;
  z-index: 1;
  background-color: var(--clr-indigo);
  outline: 2px solid var(--clr-indigo);

  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
}

.box a {
  color: #fff;
  font-family: var(--alt-font);
  text-decoration: none;
  font-weight: 900;
  font-size: var(--size-sm);
  transition: all 0.3s ease;
}

.box a:hover {
  transform: scale(1.05);
}

.box:hover {
  background-color: var(--clr-rose);
  outline: 2px solid var(--clr-rose);
}

/* Responsive Adjustments */
@media (min-width: 1024px) {
  .hero__subtitle {
    font-size: var(--size-4xl);
  }

  .hero__title {
    font-size: var(--size-2xl);
  }

  .hero__description {
    font-size: var(--size-base);
  }

  .box {
    padding: 0.7rem 1.5rem;
  }
}

@media (min-width: 1280px) {
  .hero__img {
    width: 10rem;
    height: 10rem;
  }
}