.header {
  display: flex;
  justify-content: space-between;
  padding-inline: 20px;
  align-items: center;
  padding-block-start: 2rem;
  padding-block-end: 2rem;
  position: relative;
  z-index: 9999;
  border: 2px solid orange;
}

.header .logo {
  text-decoration: none;
}

.header .logo p {
  font-size: var(--size-2xl);
  color: var(--clr-indigo);
  font-weight: bold;
}

.header .theme-toggle {
  background: var(--clr-dark);
  border-radius: 8px;
  width: fit-content;
  display: flex;
  user-select: none;
  padding: 0;
}

.header .theme-toggle input[type="radio"] {
  position: absolute;
  visibility: hidden;
  display: none;
}

.header .theme-toggle input[type="radio"]:checked+label {
  color: var(--clr-light);
  background: var(--clr-rose);
  border-radius: 8px;
}

.header .theme-toggle label {
  padding: var(--size-xxs);
  width: 30px;
  text-align: center;
  cursor: pointer;
  font-size: var(--size-base);
}

/* media queries */
/* xs */
@media (min-width: 640px) {
  .header {
    justify-content: space-around;
  }
}

@media (min-width: 768px) {
  .header .logo p {
    font-size: var(--size-3xl);
  }

  .header .theme-toggle label {
    padding: var(--size-base);
    width: 40px;
    font-size: var(--size-1xl);
  }
}

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */