/* css components import */
@import url(./styles/hero-section.css);
@import url(./styles/animated-btn.css);
@import url(./styles/contact-section.css);
@import url(./styles/projects-section.css);
@import url(./styles/about-section.css);
@import url(./styles/tabs.css);
@import url(./styles/header.css);
@import url(./styles/modern-normalize.css);

/* custom font */
@font-face {
  font-family: "Monolisa";
  src: url("../assets/fonts/MonoLisa-Variable-2.012/MonoLisaVariableNormal.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Operator";
  src: url("../assets/fonts/OperatorMono/OperatorMonoLig-Book.otf");
  font-display: swap;
}

@font-face {
  font-family: "Dank";
  src: url("../assets/fonts/Dank-Mono-Font-main/DankMono-Italic.ttf");
  font-display: swap;
}

:root {
  --clr-background: #070a13;
  --clr-dark: #070a13;
  --clr-light: #f1f5f9;
  --clr-slate400: #94a3b8;
  --clr-slate600: #475569;
  --clr-slate800: #1e293b;
  --clr-rose: #e11d48;
  --clr-indigo: #4f46e5;
  --clr-alt: #4e46e533;

  /* rose rgb(225, 29, 72) */
  /* indigo rgb(79, 70, 229) */

  /* sizes */
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.85rem;
  --size-base: 1rem;
  --size-lg: 1.25rem;
  --size-xl: 1.5rem;
  --size-2xl: 1.75rem;
  --size-3xl: 2rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;

  /* fonts */
  --main-font: Monolisa;
  --alt-font: "Cabinet Grotesk", sans-serif;
  --alt-font-1: Operator;
  --italic-font: Dank;
}

*,
*::before,
*::after {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
}

.light-mode {
  --clr-background: #4e46e533;
  --clr-light: #070a13;
  --clr-dark: #f1f5f9;
  --clr-slate400: #1e293b;
  --clr-slate600: #1e293b;
  --clr-slate800: #1e293b;
}

/* == DEFAULTS == */
body {
  font-family: var(--main-font), sans-serif;
  background-color: var(--clr-background);
  color: var(--clr-light);
  letter-spacing: -.8px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--alt-font-1);
  font-weight: 900;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

a {
  color: var(--clr-rose);
  letter-spacing: -.10px;
  font-family: var(--italic-font);
  font-weight: 900;
}

strong {
  color: var(--clr-slate600);
  font-family: var(--alt-font);
  position: relative;
}

input,
textarea {
  display: inline-block;
  background: none;
  border: none;
  outline: none;
  font: inherit;
  width: 100%;
}

textarea {
  resize: none;
}

footer {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: var(--size-sm);
}

footer a {
  text-decoration: none;
  border-bottom: 2px solid var(--clr-rose);
}

/* == REUSABLE COMPONENTS == */
.btn {
  display: inline-block;
  font-weight: 600;
  font-family: var(--alt-font);
  text-decoration: none;
  letter-spacing: -0.05em;
  background-color: var(--clr-rose);
  color: #f1f5f9;
  padding: 0.5em 1em;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgba(225, 29, 72, 0.5),
    0 6px 6px rgba(225, 29, 72, 0.5), 0 0 100px -10px var(--clr-rose);
  transition: transform 0.3s, box-shadow 0.3s;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 14px 28px rgba(225, 29, 72, 0.25),
    0 10px 10px rgba(225, 29, 72, 0.22), 0 0 120px -10px var(--clr-rose);
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  /* border: 2px solid green; */
}

.section {
  margin-top: 2rem;
  margin-bottom: 2rem;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.section--visible {
  opacity: 1;
  transform: translateY(0);
}

.square::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -10px;
  z-index: -1;
  width: 2rem;
  height: 2rem;
  background-color: var(--clr-rose);
}

.line::before {
  content: "";
  border-bottom: 2px solid var(--clr-rose);
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -1;
  transform: rotate(-1.67deg);
}

.hidden {
  display: none;
}

.hero-wrapper {
  position: relative;
}

.box a {
  text-decoration: none;
}

/* media queries */
/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
    /* border: 2px solid red; */
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
    /* border: 2px solid goldenrod; */
  }

  .line::before {
    border-bottom: 8px solid var(--clr-rose);
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    /* border: 2px solid orange; */
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    /* border: 2px solid pink; */
  }

  .section {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    /* border: 2px solid teal; */
  }
}

/* 2xl */
/* @media (min-width: 1536px) {
  .container {
    max-width: 1536px;
    border: 2px solid wheat;
  }
} */

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */