:root {
  --clr-background: #070a13;
  --clr-dark: #070a13;
  --clr-light: #f1f5f9;
  --clr-slate400: #94a3b8;
  --clr-slate600: #475569;
  --clr-slate800: #1e293b;
  --clr-rose: #e11d48;
  --clr-indigo: #4f46e5;
  --clr-alt: #4e46e533;

  /* rose rgb(225, 29, 72) */
  /* indigo rgb(79, 70, 229) */

  /* sizes */
  --size-xxs: .5rem;
  --size-xs: .75rem;
  --size-sm: .85rem;
  --size-base: 1rem;
  --size-lg: 1.25rem;
  --size-xl: 1.5rem;
  --size-2xl: 1.75rem;
  --size-3xl: 2rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}

* {
  margin: 0;
  line-height: calc(1em + .5rem);
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

.light-mode {
  --clr-background: #4e46e533;
  --clr-light: #070a13;
  --clr-dark: #f1f5f9;
  --clr-slate400: #1e293b;
  --clr-slate600: #1e293b;
  --clr-slate800: #1e293b;
}

body {
  font-family: 'General Sans', sans-serif;
  background-color: var(--clr-background);
  color: var(--clr-light);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

a {
  color: var(--clr-rose);
}

strong {
  color: var(--clr-indigo);
}

/* Utilities */
/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */


.btn {
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: -0.05em;
  background-color: var(--clr-rose);
  color: #f1f5f9;
  padding: .5em 1em;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgba(225, 29, 72, 0.5),
    0 6px 6px rgba(225, 29, 72, 0.5),
    0 0 100px -10px var(--clr-rose);
  transition: transform .3s, box-shadow .3s;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 14px 28px rgba(225, 29, 72, 0.25),
    0 10px 10px rgba(225, 29, 72, 0.22),
    0 0 120px -10px var(--clr-rose);
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: .5rem;
  padding-right: .5rem;
  /* border: 2px solid green; */
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.section {
  margin-top: 2rem;
}

.tabs {
  background-color: var(--clr-alt);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* height: var(--size-6xl); */
  padding: 1em;
  border-radius: 5px;
  gap: 1rem;
}

.tab-btn {
  width: 100%;
  border-radius: 5px;
  display: inline-block;
  font-weight: 600;
  text-align: center;
  letter-spacing: -0.05em;
  background-color: #f5f5f585;
  padding: 1em 2em;
  transition: transform .3s, box-shadow .3s;
}

.tab-btn:hover {
  background-color: var(--clr-indigo);
}

.tab-btn span {
  font-size: var(--size-lg);
  color: var(--clr-light);
  font-weight: bold;
}

.active_tab {
  background-color: var(--clr-indigo);
  text-align: center;
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
    border: 2px solid red;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
    border: 2px solid goldenrod;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    border: 2px solid orange;
  }

  .tab-btn span {
    font-size: var(--size-xl);
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    border: 2px solid pink;
  }

  .section {
    margin-top: 5rem;
  }

  .tabs {
    gap: 1.5rem;
  }

  .tab-btn span {
    font-size: var(--size-2xl);
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    border: 2px solid teal;
  }


}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
    border: 2px solid wheat;
  }
}